/vendor/
/node_modules/
.env
.env.backup
.env.production
/bootstrap/cache/
/storage/logs/
/storage/framework/cache/
/storage/framework/sessions/
/storage/framework/views/
*.sqlite
*.sqlite-shm
*.sqlite-wal
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.phpunit.result.cache
database/database.sqlite
